:root {
    --background-page-color: #E5E5E5;
    --header-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --text-color-black: #212121;
    --text-color-blue: #2196F3;
    --text-color-grey: #757575;
    --text-color-white: #FFFFFF;
    --buttons-background: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-black);
    background-color: var(--background-page-color);
}

.header {
    background-color: var(--header-background-color);
}

.menu-logo-top {
    margin-right: 93px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--text-color-black);
}

.menu-logo-bottom {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--text-color-white);
}


.menu-logo-blue {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--text-color-blue);

}

.navigation-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color-black);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--text-color-blue);
}

.mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color-grey);
    margin-right: 50px;
}

.mail:hover,
.mail:focus {
    color: var(--text-color-blue);
}

.tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color-grey);
}

.tel:hover,
.tel:focus {
    color: var(--text-color-blue);
}

.footer {
    background-color: var(--footer-background-color);
}

.buttons>.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;

    color: var(--text-color-black);
    background-color: var(--buttons-background);

}

.button:hover,
.button:focus {
    color: var(--text-color-white);
    background-color: var(--text-color-blue);
}

.box {
    background-color: var(--footer-background-color);
    color: var(--text-color-white);
    min-height: 600px;
}

.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    position: absolute;

    color: var(--text-color-white);
    background-color: var(--text-color-blue);
}

.button-main:hover,
.button-main:focus {
    cursor: pointer;
}

.box > h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    font-style: extra-expanded;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-color-white);

}

.text > h3 {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--text-color-black);
}

.text > p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--text-color-grey);
}

.job-head > h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;


    color: var(--text-color-black);
}

.item h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color-black);
}

.item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color-grey);
}

.adress > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--text-color-white);
}

.projects h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--text-color-black);
}

.projects p {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: var(--text-color-grey);
}

.team-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color-black);
}
.item h3 {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--text-color-black);
}
.item p {
    font-size: 16px;
        line-height: 1.18;
        
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--text-color-grey);
        padding-top: 10px;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

a {
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 46px;
    margin-right: 371px;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px
}

.main-text {
    width: 696px;
    height: 120px;
    margin-left: 452px;
    margin-right: 452px;
    padding-top: 120px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;



}

.main-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    display: block;
    margin-top: 30px;
    justify-content: center;
    top: 350px;
}

.text {
    display: flex;
    list-style-type: none;
    gap: 30px;
    background-color: var(--background-page-colo);
}
.text h3 {
    padding-bottom: 10px;
}

.job-head {
    text-align: center;
    padding-bottom: 50px;
}

.job-container {
    display: flex;
    justify-content: center;
    gap: 30px
}

.team-container {
    height: 648px;
}

.team-container h3 {
    padding-top: 30px;
}

.team-container p {
    padding-bottom: 30px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: var(--header-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    

}

.item {
    flex-basis: calc((100%-20px)/4);
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.item h2 {
    margin-top: 0;
    

}

.team-tittle {
    padding-bottom: 50px;
}

.footer-container {
    display: block;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer-list {
    display: block;
    padding-top: 20px;
    justify-content: center;
    gap: 9px;

}

.menu-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 370px;
    

}

.button {
    width: 93px;
    height: 38px;
    radius: 4px;
    border: none;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    background-color: var(--header-background-color);
    text-align: center;
    flex-basis: calc((100%-20px)/9);
    

}
.project-describe {
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}


.project-list h3 {
    padding-top: 20px;
    gap: 4px;
}

.project-list p {
    padding-bottom: 20px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}